@media screen and (max-width:768px){
    nav{

        background:#fff;
        position: absolute;
        /* color: white; */
        top: 70px;
        width: 100vw;
        transition: all ease-in-out 3s;
        padding: 10px 1rem;
        margin-left: -8px;
        margin-top: -8px;
        border-top: 1px solid gray;
    }
    
    ul{
        width:100%;
        padding-block: 3rem;
        gap:16px;
    }

}
