@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap'); */
/* styles/fonts.css */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Light.otf') format('opentype'); /* Update to .otf */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.otf') format('opentype'); /* Update to .otf */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Medium.otf') format('opentype'); /* Update to .otf */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.otf') format('opentype'); /* Update to .otf */
  font-weight: 700;
  font-style: normal;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Satoshi', sans-serif;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
.grid-container {
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
}


button{
  border: 0;
  outline: 0;
  cursor: pointer;
}
button:disabled {
  opacity: 0.6; /* Reduce opacity to indicate disabled state */
  cursor: not-allowed; /* Change cursor to indicate unclickable */
}

input{
  border: 0;
  outline: 0;
}
a{
  text-decoration: none;
}
img{
  object-fit: cover;
}

.br{
  border: 2px solid #000;
}

#stc-searchbar{
  border-width: 2px solid green;
}
.all-about{
  background-image: url(/images/Asset\ 1\ 1.svg);
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.support-img{
  background: url(/images/settings/ELON\ MUSK\ SVG.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.artisan{
  background-image: url(/images/landing/Frame\ 123.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
.humanity{
  background-image: url(/images/landing/humanity.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.border-green {
  border-color: #00932E; 
}

.spiral{
  background-image: url(/images/landing/Asset\ 1\ 1.svg);

}
#white-spiral{
  background-image: url(/images/landing/Topographic\ 5.svg);
  background-repeat: no-repeat;
}
.border-red {
  border-color: red;
}

.border-gray {
  border-color: #D0D5DD;
}

