
/* @import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap'); */
/* styles/fonts.css */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Light.otf') format('opentype'); /* Update to .otf */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.otf') format('opentype'); /* Update to .otf */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Medium.otf') format('opentype'); /* Update to .otf */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.otf') format('opentype'); /* Update to .otf */
  font-weight: 700;
  font-style: normal;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Satoshi', sans-serif;
}

button{
  border: 0;
  outline: 0;
  cursor: pointer;
}
input{
  border: 0;
  outline: 0;
}
a{
  text-decoration: none;
}
img{
  object-fit: cover;
}

.br{
  border: 2px solid #000;
}