@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Satoshi', sans-serif;
}

button{
  border: 0;
  outline: 0;
  cursor: pointer;
}
input{
  border: 0;
  outline: 0;
}
a{
  text-decoration: none;
}
img{
  object-fit: cover;
}

.br{
  border: 2px solid #000;
}

#stc-searchbar{
  border-width: 2px solid green;
}